#map{
    left: 65%;
    width: 530px;
    height: 700px;
}

.labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 60px;
    border: 2px solid black;
    white-space: nowrap;
}

img {
    width: 250px;
    height: 170px;
}

a{
    text-decoration: none;
}